@import "palette";

@responsive {
  .bg-header-desktop {
    background-image: $header-gradient-desktop;
  }

  .bg-header-mobile {
    background-image: $header-gradient-mobile;
  }

  .bg-accent {
    background-color: $accent;
  }

  .bg-blue {
    background-color: $blue;
  }
}
